$cardColorBack: darken($color: lightcyan, $amount: 50%);
$cardColorFront: lightcyan;

@mixin box-shadow($-horizontalLength, $-verticalLength, $-blurRadius, $-spreadRadius, $-shadowColor: #969696) {
    -webkit-box-shadow: $-horizontalLength $-verticalLength $-blurRadius $-spreadRadius $-shadowColor;
    -moz-box-shadow   : $-horizontalLength $-verticalLength $-blurRadius $-spreadRadius $-shadowColor;
    box-shadow        : $-horizontalLength $-verticalLength $-blurRadius $-spreadRadius $-shadowColor;
}

body {
    margin: 0;
}

.memory,
.card {
    box-sizing: border-box;
}

.memory {
    display       : flex;
    flex-direction: row;
    flex-wrap     : wrap;
}

.card {
    background-image: linear-gradient(45deg, $cardColorBack 25%, $cardColorFront 25%, $cardColorFront 50%, $cardColorBack 50%, $cardColorBack 75%, $cardColorFront 75%, $cardColorFront 100%);
    background-size : 42.43px 42.43px;
    border          : 1px dashed #333;
    border-radius   : 3px;
    font-size       : 5em;
    user-select     : none;
    transform       : rotateY(180deg);
    transition      : all linear 400ms;
    content         : '';
    margin          : 15px;
    @include box-shadow(-4px, 4px, 5px, 0px);


    &.flip {
        display         : flex;
        justify-content : center;
        align-items     : center;
        background-image: none;
        background-color: $cardColorFront;
        transform       : rotateY(360deg);
        transition      : all linear 400ms;
        @include box-shadow(4px, 4px, 5px, 0px);
    }
}